.mw-parser-output .autres-projets>.titre {
  text-align:center;
  margin:0.2em 0
}
.mw-parser-output .autres-projets>ul {
  margin:0;
  padding:0
}
.mw-parser-output .autres-projets>ul>li {
  list-style:none;
  margin:0.2em 0;
  text-indent:0;
  padding-left:24px;
  min-height:20px;
  text-align:left;
  display:block
}
.mw-parser-output .autres-projets>ul>li>a {
  font-style:italic
}
@media(max-width:720px) {
  .mw-parser-output .autres-projets {
    float:none
  }
}
