.mw-parser-output .liste-verticale-horizontale>ul>li ul,
.mw-parser-output .liste-verticale-horizontale>ul>li ol,
.mw-parser-output .liste-verticale-horizontale>ul>li li,
.mw-parser-output .liste-verticale-horizontale>ol>li ul,
.mw-parser-output .liste-verticale-horizontale>ol>li ol,
.mw-parser-output .liste-verticale-horizontale>ol>li li {
  display:inline;
  margin-left:0;
  padding-left:0
}
.mw-parser-output .liste-verticale-horizontale>ul>li li,
.mw-parser-output .liste-verticale-horizontale>ol>li li {
  white-space:nowrap
}
.mw-parser-output .liste-verticale-horizontale>ul>li li:not(:last-child):after,
.mw-parser-output .liste-verticale-horizontale>ol>li li:not(:last-child):after {
  content:"\a0 · ";
  font-weight:bold;
  white-space:normal
}
.mw-parser-output .liste-verticale-horizontale>ul>li li>ul,
.mw-parser-output .liste-verticale-horizontale>ul>li li>ol,
.mw-parser-output .liste-verticale-horizontale>ol>li li>ul,
.mw-parser-output .liste-verticale-horizontale>ol>li li>ol {
  white-space:normal;
  margin-left:0
}
.mw-parser-output .liste-verticale-horizontale>ul>li li>ul:before,
.mw-parser-output .liste-verticale-horizontale>ul>li li>ol:before,
.mw-parser-output .liste-verticale-horizontale>ol>li li>ul:before,
.mw-parser-output .liste-verticale-horizontale>ol>li li>ol:before {
  content:" ("
}
.mw-parser-output .liste-verticale-horizontale>ul>li li>ul:after,
.mw-parser-output .liste-verticale-horizontale>ul>li li>ol:after,
.mw-parser-output .liste-verticale-horizontale>ol>li li>ul:after,
.mw-parser-output .liste-verticale-horizontale>ol>li li>ol:after {
  content:")"
}
.mw-parser-output .liste-verticale-horizontale>ul>li ol,
.mw-parser-output .liste-verticale-horizontale>ol>li ol {
  counter-reset:listitem
}
.mw-parser-output .liste-verticale-horizontale>ul>li ol>li,
.mw-parser-output .liste-verticale-horizontale>ol>li ol>li {
  counter-increment:listitem
}
.mw-parser-output .liste-verticale-horizontale>ul>li ol>li:before,
.mw-parser-output .liste-verticale-horizontale>ol>li ol>li:before {
  content:counter(listitem)".\a0 "
}
